{{#if message}}
<div class="windowModal" id="windowModal">
    <div class="windowModalContent" >
      <p>{{message.text}}</p>
      <p><a class="btn btn-info" href="{{route}}"> Aceptar</a></p>
    </div>
</div>
{{/if}}