{{#if message}}
<div class="windowModal" id="windowModal">
    <div class="windowModalContent" >
      <p>{{message}}</p>
      <p><a class="buttonForm" href="{{route}}"> Aceptar</a></p>
    </div>
</div>
{{/if}}