<nav class="nav">
    {{#if user}}
        <h1>Hola {{user.name}}</h1>
    {{else}}
        <h1>Menu Junaeb</h1>
    {{/if}}
    <ul>
        <li class="nav__item">
            <a class="nav__link" href="{{link}}">{{type}}</a>
        </li>
    </ul>
</nav>